[submodule "lib/neopixel"]
	path = lib/neopixel
	url = https://github.com/zorxx/neopixel
[submodule "lib/ESPUI"]
	path = lib/ESPUI
	url = https://github.com/s00500/ESPUI
[submodule "tools/EspArduinoExceptionDecoder"]
	path = tools/EspArduinoExceptionDecoder
	url = https://github.com/janLo/EspArduinoExceptionDecoder
